<!--
  Tên file: AndroidManifest.xml
  Tên tác giả: La Văn Thanh
  Mô tả: Cấu hình manifest cho Android, khai báo quyền thông báo (Local Notifications), quyền lên lịch chính xác và khôi phục thông báo khi khởi động lại máy. [WEBVNZ.COM]
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- CÁC QUYỀN DÀNH CHO THÔNG BÁO VÀ NHẮC NHỞ -->
    <!-- Quyền hiển thị thông báo (Dành cho Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    
    <!-- Quyền lên lịch báo thức/thông báo chính xác (Dành cho Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    
    <!-- Quyền khôi phục lại các thông báo đã lên lịch sau khi khởi động lại máy -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Quyền rung điện thoại khi có thông báo -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="Mộc Kinh"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- CẤU HÌNH RECEIVER CHO FLUTTER LOCAL NOTIFICATIONS -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>